<head>
  <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
  <script src="../public/scripts.index.js"></script>
</head>
<body>
  Hi again
  <input type="text" id="textInput" />
  <button id="messageButton">Send</button>
  <ul id="messages">

  </ul>
</body>